{% extends "base.html" %}
{% block title %}Praesidio | Home{% endblock %}
{% block content %}
    <div>
        <h1>Adopt an Endangered <br/>
            Animal Today.</h1>
        <hr>
        <p>Help save thousands of endangered animals, by adopting one.</p>
        <a href="#">Get Started</a>
    </div>
    
    <section>
        <!-- Row -->
        <div>
            <h3>What We Do</h3>
            <!-- Column w/Logo -->
            <div></div>
            <!-- Column -->
            <div>
                <p>Morbi massa quam, interdum nec ipsum sit amet, tempus convallis nulla. Praesent vitae tincidunt elit. Proin dignissim commodo volutpat. Integer pulvinar feugiat tortor.
                <br>In hac habitasse platea dictumst. Nam viverra risus eu aliquam accumsan. Suspendisse at tempor tortor. Vivamus id euismod eros.</p>
            </div>
        </div>
        <!-- Row -->
        <div>
            <h3>What You Can Do to Help</h3>
            <!-- To be 3 columns -->
            <div>
                <p>Pay to Adopt</p>
                <p>Sed facilisis vehicula urna, eu ultricies sapien dignissim scelerisque. Pellentesque eu erat nec neque pretium efficitur quis ac dolor.</p>
            </div>
            <div>
                <p>Preserve Habitats</p>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce vitae laoreet est, sed rhoncus dui.</p>
            </div>
            <div>
                <p>Recieve Gifts</p>
                <p>Pellentesque nunc risus, tempus id purus quis, consequat porttitor nunc. Nunc tincidunt nunc ut dolor venenatis, non iaculis lorem faucibus. Fusce consequat vitae ligula in fermentum.</p>
            </div>
            <a href="#">View Animals</a>
        </div>
    </section>
{% endblock %}