{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Praesidio | Home{% endblock %}
{% block content %}
    <div class="landing">
        <div class="darken-landing">
            <div class="landing-content container">
                <h1>Adopt an Endangered <br/>
                Animal Today.</h1>
                <div class="row">
                    <div class="col s12 m10 xl6">
                        <hr class="hr-red">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m7 xl5">
                        <p class="italic">Help save thousands of endangered animals, by adopting one.</p>  
                    </div>
                    <div class="col s12 m5 xl7">
                        <a class="btn bg-red modal-trigger" href="#get-started-modal">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="index-section">
        <div class="container">
            <!-- Who We Are -->
            <div class="row large-spaced">
                <h5 class="center bold small-spaced">What We Do</h5>
                <!-- Column w/Logo -->
                <div class="col s12 m6 l4 offset-l2 small-spaced">
                    <img class="logo-resize-md" src="{% static 'images/Logo-White.png' %}" alt="Logo"/>
                </div>
                <!-- Column -->
                <div class="col s12 m6 small-spaced">
                    <p>Here at Praesidio, we want to provide support to endangered species around the world. We are a charitable organisation and do not make any profit off this.
                    <br/>
                    <br/>None of this would be possible without the support of people like you! With your help, we can do extraordinary things to help these endangered animals!</p>
                </div>
            </div>
            <!-- Help -->
            <div class="row help-container shadow-25b large-spaced">
                <h5 class="bold center small-spaced">What You Can Do to Help</h5>
                <hr class="hr-small hr-red"/>
                <div class="col s12 m4">
                    <p class="bold center">Pay to Adopt</p>
                    <p class="center"><i class="help-icons c-red fas fa-euro-sign"></i></p>
                    <p>You can adopt an animal with a one time payment. You can view our adoption packs on any animal page!</p>
                </div>
                <div class="col s12 m4">
                    <p class="bold center">Preserve Habitats</p>
                    <p class="center"><i class="help-icons c-red fas fa-shield-alt"></i></p>
                    <p>With your generous payment, we will be able to preserve habitats and stop poachers from endangering these animals.</p>
                </div>
                <div class="col s12 m4">
                    <p class="bold center">Recieve Gifts</p>
                    <p class="center"><i class="help-icons c-red fas fa-paw"></i></p>
                    <p>In exchange for your generosity, you will recieve some gifts! These may range from a postcard to a teddy bear! You can view what gifts you recieve on any adoption pack.</p>
                </div>
                <div class="row center">
                    <a class="btn bg-red" href="{% url 'all_animals' %}">View Animals</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal Structure -->
    <div id="get-started-modal" class="modal">
        <div class="modal-content">
            <h4 class="bold center">Getting Started</h4>
            <p>Like to help save endangered species from becoming extinct? Simply <a href="{% url 'registration' %}">create an account</a>
            and then view the <a href="{% url 'all_animals' %}">endangered animals</a> on our site and adopt them!</p>
            <div class="row center">
                <div class="col s6">
                    <a class="btn bg-red" href="{% url 'registration' %}">Register</a>
                </div>
                <div class="col s6">
                    <a class="btn" href="{% url 'all_animals' %}">View Animals</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
{% endblock %}