{% extends "base.html" %}

{% load materializecss %}

{% load staticfiles %}

{% load comments %}

{% block title %}{{ animal.name }}{% endblock %}

{% block head_css %}
    <style>
        .animal-header{
            background-image: url('/media/{{ animal.profile_img }}');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .darken-header{
            background: rgba(42, 54, 59, 0.5);
            width: 100%;
            height: 100%;
        }
        @media only screen and (min-width: 768px){
            /* Only display header-img for > tablets */
            .animal-header{
                background-image: url('/media/{{ animal.header_img }}');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    </style>
{% endblock %}

{% block content %}
    
    <!-- Header -->
    <div class="animal-header">
        <div class="darken-header">
            <h1 class="center">{{ animal.name }}</h1>
        </div>
    </div>
    
    <!-- Tabs -->
    <div class="row container">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#info">Info</a></li>
                <li class="tab col s3"><a href="#threats">Threats</a></li>
                <li class="tab col s3"><a href="#adopt">Adopt</a></li>
                <li class="tab col s3"><a href="#comments">Comments</a></li>
            </ul>
        </div>
        
        <!-- Display Ingo -->
        <div id="info" class="col s12">
            <div class="row">
                <div class="col s12 m6 l8">
                    <p>{{ animal.info }}</p>
                </div>
                <div class="col s12 m6 l4">
                    <p class="bold"> 
                        {% if animal.status_choices == "Critically Endangered" %}
                            <i class="fas fa-exclamation-triangle"></i>
                        {% elif animal.status_choices == "Endangered" %}
                            <i class="fas fa-exclamation-circle"></i>
                        {% elif animal.status_choices == "Vulnerable" %}
                            <i class="fas fa-exclamation"></i>
                        {% elif animal.status_choices == "Near Threatened" %}
                            <i class="far fa-sad-tear"></i>
                        {% elif animal.status_choices == "Least Concern" %}
                            <i class="far fa-frown"></i>
                        {% endif %}
                        {{ animal.status_choices }}
                        {% if animal.status_choices == "Critically Endangered" %}
                            <i class="fas fa-exclamation-triangle"></i>
                        {% elif animal.status_choices == "Endangered" %}
                            <i class="fas fa-exclamation-circle"></i>
                        {% elif animal.status_choices == "Vulnerable" %}
                            <i class="fas fa-exclamation"></i>
                        {% elif animal.status_choices == "Near Threatened" %}
                            <i class="far fa-sad-tear"></i>
                        {% elif animal.status_choices == "Least Concern" %}
                            <i class="far fa-frown"></i>
                        {% endif %}
                    </p>
                    <hr/>
                    {% if animal.population %}
                        <p class="info-title bold">Population <i class="fas fa-users"></i></p>
                        <p>{{ animal.population }}</p>
                        <hr/>
                    {% endif %}
                    {% if animal.habitat %}
                        <p class="info-title bold">Habitat <i class="fas fa-tree"></i></p>
                        <p>{{ animal.habitat }}</p>
                        <hr/>
                    {% endif %}
                    {% if animal.weight %}
                        <p class="info-title bold">Weight <i class="fas fa-balance-scale"></i></p>
                        <p>{{ animal.weight }}</p>
                        <hr/>
                    {% endif %}
                    {% if animal.length %}
                        <p class="info-title bold">Length <i class="fas fa-ruler-horizontal"></i></p>
                        <p>{{ animal.length }}</p>
                        <hr/>
                    {% endif %}
                    {% if animal.height %}
                        <p class="info-title bold">Height <i class="fas fa-ruler-vertical"></i></p>
                        <p>{{ animal.height }}</p>
                        <hr/>
                    {% endif %}
                    {% if animal.scientific_name %}
                        <p class="info-title bold">Scientific Name <i class="fas fa-flask"></i></p>
                        <p>{{ animal.scientific_name }}</p>
                        <hr/>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Display Threats -->
        <div id="threats" class="col s12">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <p>{{ animal.threats }}</p>
                </div>
            </div>
        </div>
        
        <!-- Display Adoption offers -->
        <div id="adopt" class="col s12">
            <div class="row">
                <div class="col s12 large-spaced">
                    <h4>{{ animal.adoptanimalone.plan_name }}</h4>
                    <p>{{ animal.adoptanimalone.description }}</p>
                    <h5><i class="fas fa-euro-sign"></i> {{ animal.adoptanimalone.price }}</h5>
                    <form method="post" action="{% url 'add_to_cart' animal.adoptanimalone.plan_name %}">
                        {% csrf_token %}
                        <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <button class="btn bg-red" type="submit">Add to Cart</button>
                    </form>
                </div>
                <div class="col s12">
                    <h4>{{ animal.adoptanimaltwo.plan_name }}</h4>
                    <p>{{ animal.adoptanimaltwo.description }}</p>
                    <h5><i class="fas fa-euro-sign"></i> {{ animal.adoptanimaltwo.price }}</h5>
                    <form method="post" action="{% url 'add_to_cart' animal.adoptanimaltwo.plan_name %}">
                        {% csrf_token %}
                        <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <button class="btn bg-red" type="submit">Add to Cart</button>
                    </form>
                </div>
                <div class="col s12 large-spaced">
                    <h4>{{ animal.adoptanimalthree.plan_name }}</h4>
                    <p>{{ animal.adoptanimalthree.description }}</p>
                    <h5><i class="fas fa-euro-sign"></i> {{ animal.adoptanimalthree.price }}</h5>
                    <form method="post" action="{% url 'add_to_cart' animal.adoptanimalthree.plan_name %}">
                        {% csrf_token %}
                        <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <button class="btn bg-red" type="submit">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <div id="comments" class="col s12">
            {% get_comment_count for animal as comment_count %}
            
            <!-- Load Comments -->
            {% get_comment_list for animal as comment_list %}
            {% for comment in comment_list %}
                <div class="row help-container shadow-25b">
                    <div class="col s3 m2 profile-box">
                        <img class="comment-profile-img" src="/media/{{ comment.user.profile.image }}" alt="{{ user }} Profile Image"/>
                        <div class="row">
                            <h6 class="bold">{{ comment.user }}</h6>
                            <p class="small truncate">{{ comment.submit_date }}</p>
                        </div>
                    </div>
                    <div class="col s9 m10">
                        <p>{{ comment.comment }}</p>
                        <p><a class="tooltipped" data-tooltip="I like this!" href="{% url 'up_vote_comment' comment.id animal.id %}">
                            {% if user in comment.upvote.up_voted.all %}
                                <i class="far fa-thumbs-up c-red"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                        </a> <a href="#liked_comment_modal" class="modal-trigger">{{ comment.upvote.score }}</a></p>
                    </div>
                </div>
                
                <!-- Who Liked Comment Modal Structure - needs to be inside for loop -->
                <div id="liked_comment_modal" class="modal">
                    <div class="container">
                        <div class="modal-content">
                            <h4 class="center">Users Who Liked This</h4>
                            {% for user_liked in comment.upvote.up_voted.all %}
                                <div class="row">
                                    <a href="{% url 'profile' user_liked.id %}">
                                        {% if user_liked.profile.image %}
                                            <img class="post-profile-img" src="/media/{{ user_liked.profile.image }}" alt="{{ user }} Profile Image"/>
                                        {% else %}
                                            <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                                        {% endif %}
                                        <div class="post-author">
                                            <p class="bold">{{ user_liked }}</p>
                                            <p>{{ user_liked.profile.rank }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn bg-red modal-close">Close</button>
                    </div>
                </div>
            {% endfor %}
            
            <h5 class="bold center">Leave a comment!</h5>
            <!-- If user is logged in, they can post a comment. -->
            {% if user.is_authenticated %}
                {% get_comment_form for animal as form %}
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment | materializecss }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% url 'animal_detail' animal.id %}" />
                <input type="submit" value="Add comment" id="id_submit" class="btn bg-red"/>
                </form>
            {% else %}
                <p>Please <a class="c-red" href="{% url 'login' %}">log in</a> to leave a comment.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}