{% extends "base.html" %}

{% block title %}Community{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="bold center">Community</h1>
        <a class="btn" href="{% url 'new_post' %}">New Post</a>
        <!-- Get Posts -->
        {% for post in posts %}
            <div class="row">
                <div class="col s5 m2 profile-box">
                    <img class="comment-profile-img" src="/media/{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
                        <h6 class="bold">{{ post.user }}</h6>
                        <p class="small truncate">{{ post.published_date }}</p>
                </div>
                <div class="col s7 m10">
                    <a href="{% url 'post_detail' post.id %}"><h6 class="bold">{{ post.title }}</h6>
                    <p class="truncate">{{ post.content }}</p></a>
                    <p><a href="#">Up Vote</a> {{ post.postupvote.score }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}