{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Community{% endblock %}

{% block content %}
    <div class="container">
        <h5 class="bold center xl-spaced">Community</h5>
        <a class="btn bg-red right" href="{% url 'new_post' %}">New Post</a>
        <h5 class="bold small-spaced"><i class="fas fa-wrench"></i> Staff Posts</h5>
        <!-- Get Staff Posts -->
        {% for post in staff_posts %}
            <div class="row help-container shadow-25b">
                <div class="col s4 m2 profile-box">
                    <a href="{% url 'profile' post.user.id %}">
                        {% if post.user.profile.image %}
                            <img class="comment-profile-img" src="{{ MEDIA_URL }}{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
                        {% else %}
                            <img class="comment-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                        {% endif %}
                        <h6 class="bold">{{ post.user }}</h6>
                    </a>
                    <p class="small truncate">{{ post.published_date }}</p>
                </div>
                <div class="col s8 m10">
                    <a href="{% url 'post_detail' post.id %}"><h6 class="bold">{{ post.title }}</h6>
                    <p class="truncate">{{ post.content }}</p></a>
                    <p><a class="tooltipped" data-tooltip="I like this!" href="{% url 'up_vote_post' post.id %}">
                            {% if user in post.postupvote.up_voted.all %}
                                <i class="far fa-thumbs-up c-red"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                        </a>
                        <a href="#liked_modal_{{ post.id }}" class="modal-trigger"> {{ post.postupvote.score }}</a></p>
                </div>
            </div>
            
            <!-- Who Liked Staff Post Modal Structure -->
            <div id="liked_modal_{{ post.id }}" class="modal">
                <div class="container">
                    <div class="modal-content">
                        <h4 class="center">Users Who Liked This</h4>
                        {% for user_liked in post.postupvote.up_voted.all %}
                            <div class="row">
                                <a href="{% url 'profile' user_liked.id %}">
                                    {% if user_liked.profile.image %}
                                        <img class="post-profile-img" src="{{ MEDIA_URL }}{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
                                    {% else %}
                                        <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                                    {% endif %}
                                    <div class="post-author">
                                        <p class="bold">{{ user_liked }}</p>
                                        <p>{{ user_liked.profile.rank }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn bg-red modal-close">Close</button>
                </div>
            </div>
        {% endfor %}
        
        <!-- Staff Pagination -->
        <!-- Added user_page variable to href so user doesn't lose their user page when switching staff pages -->
        {% if staff_posts.has_other_pages %}
            <ul class="pagination center">
                {% if staff_posts.has_previous %}
                    <li class="waves-effect"><a href="?staff_page={{ staff_posts.previous_page_number }}&user_page={{ user_page }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><i class="material-icons">chevron_left</i></li>
                {% endif %}
                {% for i in staff_posts.paginator.page_range %}
                    {% if staff_posts.number == i %}
                        <li class="active"><a href="#!">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?staff_page={{ i }}&user_page={{ user_page }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if staff_posts.has_next %}
                    <li class="waves-effect"><a href="?staff_page={{ staff_posts.next_page_number }}&user_page={{ user_page }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        {% endif %}
        
        <!-- Get User Posts -->
        <h5 class="bold small-spaced"><i class="fas fa-users"></i> User Posts</h5>
        {% for post in user_posts %}
            <div class="row help-container shadow-25b">
                <div class="col s4 m2 profile-box">
                    <a href="{% url 'profile' post.user.id %}">
                        {% if post.user.profile.image %}
                            <img class="comment-profile-img" src="{{ MEDIA_URL }}{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
                        {% else %}
                            <img class="comment-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                        {% endif %}
                        <h6 class="bold">{{ post.user }}</h6>
                    </a>
                    <p class="small truncate">{{ post.published_date }}</p>
                </div>
                <div class="col s8 m10">
                    <a href="{% url 'post_detail' post.id %}"><h6 class="bold">{{ post.title }}</h6>
                    <p class="truncate">{{ post.content }}</p></a>
                    <p><a class="tooltipped" data-tooltip="I like this!" href="{% url 'up_vote_post' post.id %}">
                            {% if user in post.postupvote.up_voted.all %}
                                <i class="far fa-thumbs-up c-red"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                        </a>
                        <a href="#liked_modal_{{ post.id }}" class="modal-trigger"> {{ post.postupvote.score }}</a></p>
                </div>
            </div>
            
            <!-- Who Liked User Post Modal Structure -->
            <div id="liked_modal_{{ post.id }}" class="modal">
                <div class="container">
                    <div class="modal-content">
                        <h4 class="center">Users Who Liked This</h4>
                        {% for user_liked in post.postupvote.up_voted.all %}
                            <div class="row">
                                <a href="{% url 'profile' user_liked.id %}">
                                    {% if user_liked.profile.image %}
                                        <img class="post-profile-img" src="{{ MEDIA_URL }}{{ user_liked.profile.image }}" alt="{{ user }} Profile Image"/>
                                    {% else %}
                                        <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                                    {% endif %}
                                    <div class="post-author">
                                        <p class="bold">{{ user_liked }}</p>
                                        <p>{{ user_liked.profile.rank }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn bg-red modal-close">Close</button>
                </div>
            </div>
        {% endfor %}
        
        <!-- Pagination -->
        <!-- Added staff_page variable to href so user doesn't lose their staff page when switching user pages -->
        {% if user_posts.has_other_pages %}
            <ul class="pagination center">
                {% if user_posts.has_previous %}
                    <li class="waves-effect"><a href="?user_page={{ user_posts.previous_page_number }}&staff_page={{ staff_page }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><i class="material-icons">chevron_left</i></li>
                {% endif %}
                {% for i in user_posts.paginator.page_range %}
                    {% if user_posts.number == i %}
                        <li class="active"><a href="#!">{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?user_page={{ i }}&staff_page={{ staff_page }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if user_posts.has_next %}
                    <li class="waves-effect"><a href="?user_page={{ user_posts.next_page_number }}&staff_page={{ staff_page }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        {% endif %}
        
        
    </div>
{% endblock %}