{% extends "base.html" %}

{% load staticfiles %}
{% load comments %}
{% load materializecss %}

{% block title %}Community | {{ post.title }}{% endblock %}

{% block content %}
    <div class="container">
        <!-- Post -->
        <div class="xl-spaced"></div>
        <!-- Post Title -->
        <h5 class="bold">{{ post.title }}
            <!-- Allow user to edit or delete post, only if the post belongs to them -->
            {% if post.user == user %}
                <span class="right"><a class="dropdown-trigger" href="#" data-target="settings"><i class="fas fa-cog"></i></a></span>
            {% endif %}
        </h5>
        <!-- Post Author Details -->
        <div class="row">
            {% if post.user.profile.image %}
                <img class="post-profile-img" src="/media/{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
            {% else %}
                <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
            {% endif %}
            <div class="post-author">
                <h6 class="bold">{{ post.user }}</h6>
                <p class="small">{{ post.published_date }}</p>
            </div>
        </div>
        <!-- Post Content -->
        <p>{{ post.content }}</p>
        <!-- Post Views -->
        <p class="inline"><i class="fas fa-eye"></i> {{ post.views }}  </p>
        <!-- Post Upvote -->
        <p class="inline"><a class="tooltipped" data-tooltip="I like this!" href="{% url 'up_vote_post' post.id %}">
            {% if user in post.postupvote.up_voted.all %}
                <i class="far fa-thumbs-up c-red"></i>
            {% else %}
                <i class="far fa-thumbs-up"></i>
            {% endif %}
        </a><a href="#liked_modal" class="modal-trigger"> {{ post.postupvote.score }}</a></p>
        
        
        <hr class="hr-grey small-spaced"/>
        <!-- Comments -->
        <h5 class="bold small-spaced">Comments</h5>
        
        <div id="post_comments" class="col s12">
            {% get_comment_count for post as comment_count %}
            
            <!-- Load Comments -->
            {% get_comment_list for post as comment_list %}
            {% if comment_list %}
                {% for comment in comment_list %}
                    <div class="row help-container shadow-25b">
                        <div class="col s3 m2 profile-box">
                            <img class="comment-profile-img" src="/media/{{ comment.user.profile.image }}" alt="{{ user }} Profile Image"/>
                            <div class="row">
                                <h6 class="bold">{{ comment.user }}</h6>
                                <p class="small truncate">{{ comment.submit_date }}</p>
                            </div>
                        </div>
                        <div class="col s9 m10">
                            <p>{{ comment.comment }}</p>
                            <!-- Comment Upvote -->
                            <p><a class="tooltipped" data-tooltip="I like this!" href="{% url 'up_vote_post_comment' comment.id post.id %}">
                            {% if user in comment.upvote.up_voted.all %}
                                <i class="far fa-thumbs-up c-red"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                        </a> <a href="#liked_comment_modal" class="modal-trigger">{{ comment.upvote.score }}</a></p>
                        </div>
                    </div>
                    
                    <!-- Who Liked Comment Modal Structure - needs to be inside for loop -->
                    <div id="liked_comment_modal" class="modal">
                        <div class="container">
                            <div class="modal-content">
                                <h4 class="center">Users Who Liked This</h4>
                                {% for user_liked in comment.upvote.up_voted.all %}
                                    <div class="row">
                                        <a href="{% url 'profile' user_liked.id %}">
                                            {% if user_liked.profile.image %}
                                                <img class="post-profile-img" src="/media/{{ user_liked.profile.image }}" alt="{{ user }} Profile Image"/>
                                            {% else %}
                                                <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                                            {% endif %}
                                            <div class="post-author">
                                                <p class="bold">{{ user_liked }}</p>
                                                <p>{{ user_liked.profile.rank }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn bg-red modal-close">Close</button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments to show, feel free to post one below!</p>
            {% endif %}
            
            <!-- If user is logged in, they can post a comment. -->
            <h5>Leave a comment!</h5>
            {% if user.is_authenticated %}
                {% get_comment_form for post as form %}
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment | materializecss }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% url 'post_detail' post.id %}" />
                <input type="submit" value="Add comment" id="id_submit" class="btn bg-red"/>
                </form>
            {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
            {% endif %}
        </div>
        
    </div>
    
    <!-- Settings dropdown -->
    <ul id="settings" class="dropdown-content">
        <li><a href="{% url 'edit_post' post.id %}">Edit Post</a></li>
        <li><a class="modal-trigger" href="#delete_modal">Delete Post</a></li>
    </ul>
    
    <!-- Settings Modal Structure -->
    <div id="delete_modal" class="modal">
        <div class="modal-content">
            <h4>Are You Sure?</h4>
            <p>You are about to delete your post, go ahead?</p>
            <a class="btn bg-red" href="{% url 'delete_post' post.id %}">Delete</a>
            <button class="btn modal-close">Cancel</button>
        </div>
    </div>
    
    <!-- Who Liked Post Modal Structure -->
    <div id="liked_modal" class="modal">
        <div class="container">
            <div class="modal-content">
                <h4 class="center">Users Who Liked This</h4>
                {% for user_liked in post.postupvote.up_voted.all %}
                    <div class="row">
                        <a href="{% url 'profile' user_liked.id %}">
                            {% if user_liked.profile.image %}
                                <img class="post-profile-img" src="/media/{{ post.user.profile.image }}" alt="{{ user }} Profile Image"/>
                            {% else %}
                                <img class="post-profile-img" src="{% static 'images/default.jpg' %}" alt="{{ user }} Profile Image">
                            {% endif %}
                            <div class="post-author">
                                <p class="bold">{{ user_liked }}</p>
                                <p>{{ user_liked.profile.rank }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn bg-red modal-close">Close</button>
        </div>
    </div>
{% endblock %}