/*-- Misc. Styles --*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #2A363B;
    color: white;
    overflow-x: hidden;
}
.bold{
    font-weight: 700;
}
.black{
    font-weight: 900;
}
.small{
    font-size: 12px;
}
.italic{
    font-style: italic;
}
.uppercase{
    text-transform: uppercase;
}
.bg-red{
    background-color: #E84A5F;
}
.bg-red:hover{
    background-color: #F65066;
}
.c-red{
    color: #E84A5F;
}
.hr-red{
    border-color: #E84A5F;
}
.hr-small{
    width: 5%;
}
.small-spaced{
    margin: 20px 0;
}
.large-spaced{
    margin: 95px 0;
}
.xl-spaced{
    margin: 150px 0;
}
.post-profile-img{
    border-radius: 50%;
    max-width: 40px;
    display: inline-block;
}
.post-author{
    margin-left: 10px;
    display: inline-block;
    line-height: .5;
}
.logo-resize-md{
    max-width: 200px;
}
.shadow-25b{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
}
h5{
    font-family: "Fira Sans", sans-serif;
}
.btn{
    font-weight: 700;
    border-radius: 7px;
    text-transform: none;
    padding: 0 20px;
}
a{
    color: inherit;
}
.material-tooltip{
    color: #1D2529;
    background-color: white;
}
/*-- /Misc. Styles --*/


/*-- Nav Styles --*/
nav{
    top: 0;
    z-index: 100;
    background-color: #1D2529;
    position: fixed;
}
nav ul li{
    font-weight: 700;
}
nav img{
    vertical-align: middle;
    max-width: 50px;
}
/*-- /Nav Styles --*/


/*-- Landing Styles --*/
.landing{
    background-image: url("/static/images/landing-test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.darken-landing{
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 59, 0.75);
}
.landing-content{
    padding: 150px 0;
}
.landing h1{
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 40px 0;
}
.landing .btn{
    padding: 0 40px;
}
/* Keep hr full width to align with text */
.landing .row, .landing .col{
    padding: 0;
}

/*-- /Landing Styles --*/

/*-- Index Styles --*/
.help-icons{
    display: inline-block;
    text-align: center;
    font-size: 72px;
}
.help-container{
    background-color: #1D2529;
    border-radius: 20px;
    padding: 20px;
}
.login-container{
    background-color: #1D2529;
    border-radius: 20px;
    padding: 40px;
}
/*-- /Index Styles --*/


/*-- Animals Styles --*/
.animal-photo{
    max-width: 245px;
}
.card{
    color: #1D2529;
}
.card-content p i{
    color: #f44242;
}
.animals-header{
    margin-top: 150px;
    margin-bottom: 100px;
}
#info hr{
    opacity: .25;
}
/*-- /Animals Styles --*/


/*-- Form Styles --*/
/*Materialize Forms*/
input[type=text]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #e84a5f;
    box-shadow: 0 1px 0 0 #e84a5f;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #e84a5f;
}
.select-wrapper input.select-dropdown:focus{
    border-bottom: 1px solid #e84a5f;
}
.select-wrapper input.select-dropdown{
    color: #9e9e9e;
}
.select-wrapper .caret{
    fill: #9e9e9e;
}
.dropdown-content li>span, textarea.materialize-textarea:focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #e84a5f;
}
input[type=text]:not(.browser-default), textarea.materialize-textarea, input[type=password]:not(.browser-default){
    color: white;
}


/*/Materialize Forms*/


/*Comment Forms*/
#id_honeypot {
    display: none;
}
.comment-profile-img{
    border-radius: 50%;
    max-width: 40px;
}
/*.profile-box{*/
/*    border-right: 1px solid black;*/
/*}*/
/*Comment Forms*/

/*-- /Form Styles --*/


.animal-header h1{
    padding: 150px 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    color: white;
    font-weight: 900;
    
}

/*-- Modal Styles --*/
.modal-content{
    color: #1D2529;
}
.modal-content h4{
    font-family: "Fira Sans", sans-serif;
}
/*-- /Modal Styles --*/


/*-- Pagination Styles --*/
.pagination li.active{
    background-color: #E84A5F;
}
.pagination li a{
    color: white;
}
.pagination li.disabled{
    color: #B2B2B2;
}
/*-- /Pagination Styles --*/

/*-- Tab Styles --*/
.tabs{
    background-color: #2A363B;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #e84a5f;
}
/*-- /Tab Styles --*/

/*-- Responsive Styling --*/
@media only screen and (min-width: 768px){
    .comment-profile-img{
        max-width: 50px;
    }
}
