/*-- Misc. Styles --*/
.bold{
    font-weight: 700;
}
.black{
    font-weight: 900;
}
.small{
    font-size: 12px;
}
/*-- /Misc. Styles --*/

/*-- Styles for Comment Forms --*/
#id_honeypot {
    display: none;
}
.comment-profile-img{
    border-radius: 50%;
    max-width: 40px;
}
.profile-box{
    border-right: 1px solid black;
}
/*-- /Styles for Comment Forms --*/

.animal-header h1{
    padding: 150px;
    margin: 0;
    
}


/*-- Responsive Styling --*/
@media only screen and (min-width: 768px){
    .comment-profile-img{
        max-width: 80px;
    }
}