{% extends "base.html" %}

{% load materializecss %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="my-wrapper valign-wrapper">
        <div class="container">
            <h5 class="bold center">Edit Profile</h5>
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.bio | materializecss }}
                        {{ form.image | materializecss }}
                        <button type="submit" class="btn bg-red">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Materialize disrupts the structure of the file upload. I will remove some unwanted text and add a class to change the color of the button
        var file_field = $(".file-field > .btn");
        file_field.html(file_field.html().replace("Change:", ""));
        file_field.addClass("bg-red");

    </script>
{% endblock %}