{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Data{% endblock %}

{% block content %}
    <!-- Chart.JS wouldn't align charts with Materialize, I customised the bootstrap to only contain their grid system
        so classes wouldn't clash with Materialize -->
    <link rel="stylesheet" href="{% static 'css/custom-bootstrap.min.css' %}" type="text/css" />
    
    <div class="container">
        <h3 class="bold center xl-spaced">Don't believe us? The numbers don't lie.</h3>
        
        <!-- Charts -->
        <div class="row">
            <!-- Bar Chart -->
            <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                <div class="card shadow-25b help-container">
                    <div class="card-title center">
                        <h5 class="bold">Amount of Species Under a Certain Populaiton</h5>
                    </div>
                    <div class="card-content">
                        <canvas id="barChart" width="100" height="100"></canvas>
                    </div>
                </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card shadow-25b help-container">
                    <div class="card-title center">
                        <h5 class="bold">Comparing Severity of Endangered Animals</h5>
                    </div>
                    <div class="card-content">
                        <canvas id="pieChart" width="100" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <hr class="small-spaced"/>
        
        <!-- Info -->
        <p class="center"><span class="italic">"We're currently experiencing the worst spate of species die-offs 
        since the loss of the dinosaurs 65 million years ago."</span> <span class="bold">- Center for Biological Diversity.</span></p>
        <div class="row">
            <div class="col s12 m6 center">
                <h3 class="bold">5</h3>
                <h5>Species Went Extinct In 2018</h5>
            </div>
            <div class="col s12 m6 center">
                <h3 class="bold">1,000</h3>
                <h5>Species Went Extinct In The Last 500 Years</h5>
            </div>
            <div class="col s12 center">
                <a class="waves-effect waves-light btn bg-red modal-trigger small-spaced" href="#help">Like to Help?</a>
            </div>
        </div>
        
        <!-- Modal Structure -->
        <div id="help" class="modal">
            <div class="modal-content">
                <h4 class="bold center">Like to Help?</h4>
                <p>The best way you can help would be <span class="bold">by directly supporting the animals you're looking to save!</span> You can view the endangered animals <a class="bold c-red" href="{% url 'all_animals' %}">here</a>, or by clicking on the button below!
                Just click on an animal you'd like to support and adopt it! We thank you for your time.</p>
                <div class="row center">
                    <a class="btn bg-red" href="{% url 'all_animals' %}">View Animals</a>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
            </div>
        </div>
    </div>
    
    <!-- Bar Chart -->
    <script>
    var ctx = document.getElementById('barChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Under 500', 'Under 1,000', 'Under 5,000', 'Under 10,000', 'Over 10,000'],
            datasets: [{
                label: '# of Animals',
                data: ["{{ length_500 }}", "{{ length_1k }}", "{{ length_5k }}", "{{ length_10k }}", "{{ length_over_10k }}"],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "#bcbcbc",
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "#bcbcbc"
                    }
                }]
            },
            legend: {
                labels: {
                    fontColor: "#bcbcbc"
                }
            }
        }
    });
    </script>
    <!-- Pie Chart -->
    <script>
    var ctx = document.getElementById("pieChart").getContext("2d")
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Critically Endangered', 'Endangered', 'Threatened', 'Vulnerable', 'Least Concern'],
            datasets: [{
                label: '# of Animals',
                data: ["{{ critically }}", "{{ endangered }}", "{{ near_threatened }}", "{{ vulnerable }}", "{{ least_concern }}"],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        fontColor: "#bcbcbc",
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                labels: {
                    usePointStyle: true,
                    fontColor: "#bcbcbc"
                }
            }
        }
    });
    </script>
{% endblock %}